
<div class="container">
  <h2 class="m-3">All our Flats(<%= @flats.count %>)</h2>
  <div class="card-deck">
    <% @flats.each do |flat| %>
    <div class="card">
     <div class="card-header h-100">
      <h4><%= flat[:name] %></h4>
      <%= flat[:address] %>,
      <%= flat[:city] %>
      <div class="align-items-end">
        <i class="fas fa-users"></i>  <%= flat[:number_of_guests] %>
        <i class="fas fa-dollar-sign"></i> <%= flat[:price_per_night] %>
      </div>
     </div>
     <div class="card-body">
       <%= link_to "More Info", flat_path(flat.id) %>
     </div>
    </div>
    <% end %>
  </div>
</div>
